div {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

p {
  position: relative;
  padding-left: 30px;
}

.close {
  left: 1%;
  position: absolute;
}

.close:hover{
  cursor: pointer;
}

#box2 {
  display: none;
}

#searchli {
  padding: 10px;
}

#wordli{
  padding-top: 10px;
}
