div {
  margin: 0 auto;
  width: 330px;
}

p {
  display: inline-block;
  position: relative;
  padding-left: 30px;
}

.close {
  left: 1%;
  position: absolute;
  top: 0;
}

.close:hover{
  cursor: pointer;
}

#box2 {
  display: none;
}

#searchli {
  padding: 10px;
}

#wordli{
  padding-top: 10px;
}
